/**style CSS du header**/
header {
    background-color:white;
}

/**style CSS de notre logo**/
header h1 {
    height: 40px; /**définit la hauteur de notre header**/
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 50px; /**définit la taille de notre police**/  
    font-family: 'Pacifico', cursive;
    margin-left: 20px;
    margin-top:50px;
}

/**style CSS du contact tel dans le header**/
#entete {
    display: flex;
    flex-direction: row;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
}

#imgTel {
    width:40px;
    height:40px;
    margin-left: 1050px;
    margin-top: 50px;
}

#entete a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-top: 55px;
    font-weight: bold;
}

/**style CSS de l'image accueil**/
.imgHome {
    height:400px;
    width:100%;
}

/**style css menu navigation**/
ul {
    list-style-type: none; /**retire la liste à puces**/
    display:flex;
    justify-content: space-around;
    font-size: 25px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color:black
}

/**style css partie présentation**/
#presentation{
    background-color:#FFF3E2;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-align:center;
}

section h2 {
    font-size:30px;
    text-align:center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: bold;
}
/** style css footer **/
footer{
    background-color: #949494;
    display: block;
    height: 150px;
    display: flex;
    justify-content:space-around;
    padding-top: 30px;
}
/**style css des pictogrames du footer**/
.imgTel{
    width: 80px;
    height: 80px;
}
.imgMail{
    width: 80px;
    height: 80px;    
}
.imgInsta{
    width: 150px;
    height: 90px;
}
.imgMaps{
    width: 80px;
    height: 80px;
}
.imgPinterest{
    width: 80px;
    height: 80px;
}
